.body-Banner {
    background-image: url("../Assets/fondo-slider.png");
    width: 100%;
    margin-top: 5px;
    position: relative;
}

.body-Banner img {
    margin: auto;
    padding-left: 15%;
    position: relative;
}

.texto-Container-Banner {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 45%;
    color: white;
    width: 500px;
}

.just {
    margin: 0px;
    font-size: 4rem;
    font-weight: normal;
    padding-top: 2%;
}

.container-Text-P-Minute {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
}

.perMinute {
    margin: 0px;
    font-size: 3rem;
    font-weight: normal;
}

.for-Y-Call {
    margin: 0px;
    font-weight: normal;
    margin-left: 10%;
}

.container-Btn-Offer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 2%;
}

.btn-Started {
    width: 55%;
    border: none;
    height: 60px;
    background-color: #ff8e3e;
    border-radius: 10px;
    cursor: pointer;
}

.btn-Started:hover {
    background-color: #e98137;
}

.offer {
    margin-top: 2%;
    font-size: 15px;
}

@media(max-width:1024px) {
    .texto-Container-Banner {
        width: 400px;
        top: 0;
    }

    .just {
        font-size: 3rem;
    }

    .dolar {
        font-size: 4rem;
        padding-bottom: 8%;
    }

    .uno {
        font-size: 5rem;
        padding-bottom: 8%;
    }

    .perMinute {
        font-size: 2rem;
    }

    .container-Btn-Offer {
        padding-right: 5%;
    }
}

@media(max-width:768px) {
    .texto-Container-Banner {
        width: 300px;
    }

    .just {
        font-size: 2rem;
        padding-top: 7%;
    }

    .dolar {
        font-size: 3rem;
        padding-bottom: 8%;
    }

    .uno {
        font-size: 4rem;
        padding-bottom: 8%;
    }

    .perMinute {
        font-size: 1rem;
    }

    .container-Btn-Offer {
        padding-right: 5%;
    }

    .offer {
        display: none;
    }

    .btn-Started {
        height: 45px;
    }

    .btn-Started p {
        font-size: 1rem;
    }
}